/* @import url(); */
@font-face {
    font-family: FjallaOne-Regular;
    src: url('../../public/fonts/FjallaOne-Regular.ttf');
  }

.productContainer {
    padding: 30px;
}

.container {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: 100px;
    width: 250px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
}

.title {
    margin: 0 auto;
    color: #0e2149;
    font-family: FjallaOne-Regular;
}

.productImage {
    height: 90px;
    transform: rotate(334deg);
    margin-left: -50px;
    margin-top: 10px;
    filter: drop-shadow(7px 2px 9px #0e2149);
}

.poductShortDescription {
    margin-top: 8px;
    margin-left: 25px;
}